gradio
python-dotenv
pandas
loguru
psutil
httpx       
pybreaker     


# Document parsing dependencies
textract
pytesseract
tenacity==8.5.0 # tenacity
python-docx
pypdf
pymupdf    # import fitz
PyPDF2
pillow
ebooklib
beautifulsoup4
mimetype
# PyPDF2==3.0.1

# AI dependencies
openai==1.35.13 # openai
tiktoken==0.7.0 # tiktoken
anthropic==0.29.0 # anthropic
google-cloud-aiplatform==1.56.0 #  google-cloud-aiplatform
google-auth

# RENDER.io dependencies
fastapi==0.111.0 # fastapi
uvicorn==0.30.1 # uvicorn
celery==5.4.0 # celery
gevent==23.9.1
redis 
websockets==12.0 # websockets 

# AWS dependencies
boto3
botocore

# Supabase & PG dependencies
supabase==2.5.0 # supabase (will auto-install compatible postgrest-py)
# postgrest-py
asyncpg
psycopg2-binary==2.9.9

# RAG dependencies
langchain==0.2.5 # langchain 
langchain-community==0.2.5 # langchain-community
langchain-openai==0.1.8 # langchain-openai
promptic
